# SLURM

# paths :   
#     out_folder: "/bigwork/nhgnkany/Results/LCC_Aer_SITS_MaxViT_HR_ConvFormer_LR/results/"
#     out_model_name: "maxvit-convformer-seg"

#     train_csv: /bigwork/nhgnkany/FLAIR_HUB/ALL_CSV/FLAIR_HUB_TRAIN.csv
#     val_csv: /bigwork/nhgnkany/FLAIR_HUB/ALL_CSV/FLAIR_HUB_VALID.csv
#     test_csv: /bigwork/nhgnkany/FLAIR_HUB/ALL_CSV/FLAIR_HUB_TEST.csv
#     global_mtd_folder: /bigwork/nhgnkany/FLAIR_HUB/GLOBAL_ALL_MTD/
#     ckpt_model_path: 

paths :   
    out_folder: "/my_data/Results/LCC_Aer_SITS_MaxViT_HR_ConvFormer_LR/results/"
    out_model_name: "maxvit-convformer-seg"

    train_csv: /my_data/FLAIR_HUB/ALL_CSV/FLAIR_HUB_TRAIN.csv
    val_csv: /my_data/FLAIR_HUB/ALL_CSV/FLAIR_HUB_VALID.csv
    test_csv: /my_data/FLAIR_HUB/ALL_CSV/FLAIR_HUB_TEST.csv
    global_mtd_folder: /my_data/FLAIR_HUB/GLOBAL_ALL_MTD/
    ckpt_model_path: 


tasks: 
    train: True
    train_tasks: 
        init_weights_only_from_ckpt: False
        resume_training_from_ckpt: False

    predict: True
    write_files: True
    georeferencing_output: True
    metrics_only: False
    sync_dist: False

inputs:
    img_size: 10
    num_classes: 19
    num_channels_aer: 5 
    num_channels_sat: 4 
    ref_date: '05-15'
    nbts: 12 # 1: 12 images, 2: 6 images, 3: 4 images, 4: 3 images, 6: 2 images
    sat_reflectance_train: 2_000 
    sat_reflectance_infer: 2_000 

hyperparams:
    num_epochs: 15
    batch_size: 10
    seed: 2025
    lr: 0.00006
    beta_1: 0.9
    beta_2: 0.999
    w_dec: 0.0
    use_tta: True
    optimizer: adamw  # [sgd / adam / adamw]
    optim_weight_decay: 0.01
    optim_betas: [0.9, 0.999]
    scheduler: "StepLR" # ['StepLR', 'ReduceLROnPlateau']
    upsample: "Bilinear" # ["Bilinear", "Transposed"]
    # scheduler: one_cycle_lr #  [one_cycle_lr / reduce_on_plateau / cycle_then_plateau]
    warmup_fraction: 0.2 # if using one_cycle_lr. [0-1]
    plateau_patience: 10 # if using cycle_then_plateau
    w_aerial_sits: [0.3, 0.7]
    loss_aux_sat_weight: 1.0
    loss_main_sat_weight: 1.0
    aux_loss_weight: 0.3
    sits_aux_loss_main_weight: 0.7

hardware:
    accelerator: 'gpu'
    num_nodes: 1
    gpus_per_node: 1
    strategy: 'auto' # ddp_find_unused_parameters_true if num_nodes > 1
    num_workers: 10

saving:   
    ckpt_save_also_last: True
    ckpt_weights_only: False
    ckpt_monitor: 'val_miou' # # or "val_loss" # val/miou
    ckpt_monitor_mode: 'max'
    ckpt_earlystopping_patience: 20
    cp_csv_and_conf_to_output: True
    enable_progress_bar: True
    log_every_n_steps: 200
    progress_rate: 100
    ckpt_verbose: True
    verbose_config: False
    mode: "eval" # ["train", "eval"]
    resume: False





